fieldset
{   
    width: 60%;
    margin: auto;
    padding:3px;
    border-radius: 10px;
}

#image {
    max-width: 100%;
    height: auto;
    width: 60%;
    min-width: 100vh;
    margin: auto;
    border-radius:10px;
}


.heading {
    background-color: black;
    text-align: center;
    color: white;
}

body {
    color: white;
    background-color: black;
}

hr{
    width:40%;
    margin:auto;
    border-width:1.5px;
    border-radius:5px;
    color:chartreuse;
}

div{
    margin:0 20px 0 20px;
}

h1,h2
{
    color:gold;
}

footer{
    color:gray;
    
}